body {
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 450px;
    outline: 2px solid red;
    padding: 16px;
    margin: 0 20%;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 300px;
    outline: 2px solid rgb(60, 28, 218);
    padding: 16px;
    margin: 16px;
}

.div__text{
    display: block;
    width: 240px;
}

.second, .third {
    width: 150px;
    height: 200px;
    outline: 2px solid rgb(8, 136, 36);
    padding: 16px;
    margin: 10px;
}
.confirm{
    margin: 5px;
    width: 100px;
    text-align: center;
}
